$border: darkgrey;



h2 {
	text-align: center;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 2%;
}

.search-group {
	text-align: center;
	margin: auto;

}

// .choiceButton {
// 	max-width: 80%;
// }



video {
	max-height: 359px;
}





input[type=file] {
	border: 2px solid $border;
	padding: 1%;
    // margin: 0 auto;
    // display: inline-block;
}

.viewWrap {
	border: 2px solid $border;
	position: fixed;
	top: 50px; right: 0; bottom: 0; left: 0;
	padding-left: 5%;
	padding-right: 5%;
	overflow: scroll;
}

#viewHolder {
	border: 2px solid $border;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
}

.navbar {
	border: 2px solid $border;
	width: 100%;
	position: fixed;
	top: 0; right: 0; left: 0;
}


.indexRow {
	margin-top: 25em;
}



#creationBelt {
	margin-top: 3em;
	margin-bottom: 3em;
	border: 2px solid $border;
	padding: 2em;
}

.captureStatus {
	text-align: center;
	margin: auto;
}


.chanDiv {
	margin: 5%;
	border: 1px solid $border;
	padding: 5%;
}


#progress_bar.loading {
    opacity: 1.0;
  }
#progress_bar .percent {
background-color: #99ccff;
height: auto;
width: 0;
}

.tinyText {
	font-size: .7em;
}

.saveButton {
	height: 3em;
	border-radius: 25px;
}

.cancelButton {
	height: 3em;
	border-radius: 25px;
}

button {
	// max-width: 100%;
	// overflow: auto;
}