#viewHolder {
	border: 4px solid black;
}

#creationBelt {
	margin-top: 3em;
	border: 2px solid black;
	padding: 2em;
}

.captureStatus {
	text-align: center;
	margin: auto;
}


.chanDiv {
	margin: 5%;
}


#progress_bar.loading {
    opacity: 1.0;
  }
#progress_bar .percent {
background-color: #99ccff;
height: auto;
width: 0;
}

.tinyText {
	font-size: .7em;
}