<h2>{{greeting}}</h2>
<div ng-include="'partials/navbar.html'"></div>






<input type="text" size="40" id="sampleTitleSearchInput" placeholder="search for a sample by title" ng-model="sampleTitleQuery">
<button ng-click="getSampleWav()">retrieve sample by exact title</button>


<button ng-click="decodeSample()">decode your sample once it has been retrieved</button>




<button ng-click="playSample()">click to play your sample</button>




<select ng-model="channelSelect">
	<option class="channelAssignSelect" value="-1">select a channel in which to assign this sample</option>
	<option class="channelAssignSelect" value="0">channel 0</option>
	<option class="channelAssignSelect" value="1">channel 1</option>
	<option class="channelAssignSelect" value="2">channel 2</option>
	<option class="channelAssignSelect" value="3">channel 3</option>
	<option class="channelAssignSelect" value="4">channel 4</option>
	<option class="channelAssignSelect" value="5">channel 5</option>
	<option class="channelAssignSelect" value="6">channel 6</option>
	<option class="channelAssignSelect" value="7">channel 7</option>
</select>

<button ng-click="assignSample()">click to assign your sample to a channel in your current patch</button>