<h2>{{greeting}}</h2>
<div ng-include="'partials/navbar.html'"></div>
<div id="creationInputs">
	<h5><i>Please select the video you wish to sample (for now, please upload small files. Like, less than 20mb if possible)</i></h5>
	<input id="userFileInput" type="file">
	<button id="sampleCaptureBtn" ng-click="beginSampleCapture()" class="btn-default">During playback, click here to begin capturing an audio sample from your video</button>
	<button ng-click="endSampleCapture()" class="btn-default">Click here to set the end of your audio sample</button>
	<button ng-click="previewSample()" class="btn-default">Click here to preview sample</button>
</div>
<div id="userVideoHolder">
	<video crossOrigin="anonymous" id="userVideo" controls="controls"></video>
</div>


<!-- <div id="userVideoHolder">
	<video crossOrigin="anonymous" id="userVideo" controls="controls" src="videos/boytoy2000_4936849088184320.mp4"></video>
	

	crossOrigin="anonymous"
	
 </div> -->