<div ng-include="'partials/navbar.html'"></div>
<h2>{{greeting}}</h2>
<div id="creationInputs">
	<h5><i>Please select the video you wish to sample (for now, please upload small files. Like, less than 20mb if possible)</i></h5>
	<input id="userFileInput" type="file">



	<button id="sampleCaptureBtn" ng-click="beginSampleCapture()" class="capture-btn btn-success">Begin Sample Capture</button>
	<button ng-click="endSampleCapture()" class="capture-btn btn-danger">End Sample Capture</button>




	<!-- card for previewing, naming, and saving a captured sample -->
	<div>
		<div ng-show="sampleCaptured">
			<input type="text" size="50" id="sampleTitleInput" ng-model="sampleTitle" placeholder="Name this sample">
			<button ng-click="previewSample()" class="btn-info">Click here to preview sample</button>
			<button ng-click="saveSample()" class="btn-info">Click here to save your new sample</button>
		</div>
		<div ng-show="!sampleCaptured">
			<h4>{{captureStatus}}</h4>
		</div>
	</div>





	<!-- <input type="text" size="100" id="sampleImageInput" ng-model="sampleImage" placeholder="input the url for an image you would like to represent this sample"> -->


<!-- 

	<button ng-click="saveSampleWav()" class="btn-default">Click here to save your new sample</button> -->






</div>
<div id="userVideoHolder">
	<video crossOrigin="anonymous" id="userVideo" controls="controls"></video>
</div>






