<div ng-include="'partials/guestNavbar.html'"></div>
<div class="viewWrap">
	<h2>{{greeting}}</h2>
	<div id="loginCard" class="container">
		<div class="row">
			<h2 class="col-xs-12">Login or Register</h2>
		</div>
		<div class="row">
			<span class="col-xs-3">Email: </span><input class="col-xs-7 saveButton" type="email" name="userEmail" autofocus="true" ng-model="account.email">
		</div>

		<div class="row">
			<span class="col-xs-3">Password: </span><input class="col-xs-7 saveButton" type="password" name="userPassword" autofocus="false" ng-model="account.password">
		</div>

		<div class="row">
<!-- 			<div class="col-xs-3">
			</div> --> <!-- used for bootstrap grid filler. Should no longer be necessary-->
			<div class="col-xs-7 col-xs-offset-3 container">
				<div class="row">
					<button class="saveButton btn btn-info col-xs-6" ng-click="login()">Login</button>
					<button class="saveButton col-xs-6 btn btn-info" ng-click="register()">Register</button>
				</div>
			</div>
		</div>
	</div>
</div>