<div ng-include="'partials/navbar.html'"></div>
<h2>{{greeting}}</h2>
<h4><i>Patches feature coming soon</i></h4>







<input type="text" size="40" id="sampleTitleSearchInput" placeholder="filter results" ng-model="sampleTitleQuery">
<button ng-click="getPatches('public')">browse all publically submitted patches</button>
<button ng-click="getPatches('user')">browse patches you've made</button>



<div ng-show="sampleLoaded">

	<button ng-click="playSample()">click to play your sample</button>




	<span>Assign sample to channel: </span><select ng-model="channelSelect">
		<option class="channelAssignSelect" value="0">channel 0</option>
		<option class="channelAssignSelect" value="1">channel 1</option>
		<option class="channelAssignSelect" value="2">channel 2</option>
		<option class="channelAssignSelect" value="3">channel 3</option>
		<option class="channelAssignSelect" value="4">channel 4</option>
		<option class="channelAssignSelect" value="5">channel 5</option>
		<option class="channelAssignSelect" value="6">channel 6</option>
		<option class="channelAssignSelect" value="7">channel 7</option>
	</select>

	<button ng-click="assignSample()">click to assign your sample to a channel in your current patch</button>

	
</div>







<div ng-repeat="card in catalog | filter: sampleTitleQuery">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- <div class="col-xs-1"><input type="checkbox" name=""/></div> -->
	    <div class="col-xs-4 sampleCatalogCard container">
	    	<!-- <h4 class="col-xs-12">{{card.title}}</h4> -->




	    <div class="col-xs-1" ng-click="assignPatch(card)"><button class="btn btn-info">{{card.title}}</button></div>

	    </div>
      
    </div>
  </div>
</div>

























