<div ng-include="'partials/navbar.html'"></div>
<div class="viewWrap">
	<h2>{{greeting}}</h2>
	<div class="container-fluid">
			<button ng-show="!savingPatch" ng-click="savePatch()" class="patchHeadButton capture-btn btn-info saveButton">Save Patch</button>
			<input ng-show="savingPatch" id="patchTitleInput" class="patchHeadButton saveButton" placeholder="name this patch" type="text" ng-model="patchTitle">
			<button ng-show="savingPatch" ng-click="confirmSavePatch()" class="patchHeadButton capture-btn btn-info saveButton">Confirm New Patch</button>
			<button ng-show="savingPatch" ng-click="cancelSavePatch()" class="patchHeadButton capture-btn cancelButton">Cancel</button>
			<div class="row">
				<sampleTitle id="patchTitleHolder" class="col-xs-12">
					<span>Current Patch: </span>
					<h6 id="patchTitle">{{patch.title}}</h6>
				</sampleTitle>
			</div>
	</div>

	<!-- sample controls -->
	<div class="container col-xs-12 channelGroup">
		<div class="col-sm-3 repeatDiv" ng-repeat="channel in patch.channels">
			<div id="chan{{channel.channelNum}}" class="chanDiv">
				<div class="row">
					<sampleTitle class="col-xs-10 col-xs-offset-1"><span>{{channel.sampleTitle}}</span></sampleTitle>
				</div>

				<div ng-show="samples.channels[channel.channelNum].sampleBuffer" id="chan_{{channel.channelNum}}_buttons" class="btn-group chanButtons row col-xs-12 sampleTriggerRow">
					<button ng-click="playSample(channel.channelNum)" type="button" class="btn btn-info col-xs-3 glyphicon glyphicon-play sampleTriggerButton"></button>

					<button ng-click="stopSample(channel.channelNum)" type="button" class="btn btn-info col-xs-3 sampleTriggerButton glyphicon glyphicon-stop"></button>

					<button ng-click="toggleLoop(channel.channelNum)" type="button" class="btn col-xs-3 sampleTriggerButton glyphicon glyphicon-retweet"></button>
				</div>

				<div class="row" ng-show="!samples.channels[channel.channelNum].sampleBuffer">
					<a href="#/samples/browse"><button class="btn loadButton btn-default chanButtons col-sm-7 col-sm-offset-1" ng-show="!samples.channels[channel.channelNum].sampleBuffer">
						Load New
					</button></a>
				</div>

				<div id="chan_{{channel.channelNum}}_sliders" class="chanSliders">
					<div class="chanGainSlider">
						<h6>Volume</h6>
						<input type="range" id="chan_{{channel.channelNum}}_gainValue" class="gainControl chanSlider" min="0" max="10" defaultValue="1" step="0.1" ng-model="patch.channels[channel.channelNum].gain.gain.value">
					</div>

					<div class="chanSpeedSlider">
						<h6>Speed</h6>
						<input ng-model="patch.channels[channel.channelNum].samplePlaybackRate" class="playbackRateControl chanSlider" type="range" min="0.25" max="3" step="0.05" value="1">
					</div>

					<div class="chanHiPassSlider">
						<h6>High Pass Filter</h6>
						<input ng-model="patch.channels[channel.channelNum].hiPassFilter.frequency.value" class="hiPassHzControl chanSlider" type="range" min="0" max="20000" step="10">
					</div>

					<div class="chanLoPassSlider">
						<h6>Low Pass Filter</h6>
						<input ng-model="patch.channels[channel.channelNum].loPassFilter.frequency.value" class="loPassHzControl chanSlider" type="range" min="0" max="20000" step="10">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>